body{
    height: 100%;
    font-family: Lato, Montserrat, Inter, sans-serif;
    font-weight: 400;
    color: var(--color-grey);
    background-color: var(--color-white);
}
@media screen and (min-width: 1264px) {
    body{
        padding-top: 68px;
    }
  }