.section-about{
    padding-top: 100px;
}

@media screen and (min-width:768px) {
    .all-in-about{
        display: flex;
        align-items: center;
        gap: 54px;
    }
}
@media screen and (min-width:1280px) {
    .all-in-about{
        gap: 90px;
    }
}


.title-about {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 32px;
}
@media screen and (min-width:768px) {
   .title-about{
    margin-bottom: 56px;
   }
}


.title-about::after{
    content: '';
    border: 1px solid black ;
    margin-left: 16px;
    height: 0;
    width: 100%;
}
.txt-about{
    width: 288px;
    font-style: normal;
    font-size: 16px;
    line-height: calc(20/16);
    color: var(--color-black);


}
@media screen and (min-width:768px) {
    .txt-about{
        font-size: 20px;
        line-height: calc(24/20);
        width: 322px;
    }
}
@media screen and (min-width:1280px) {
    .txt-about{
        font-size: 22px;
        line-height: calc(27/22);
        width: 510px;
    }
}


.img-about{
    margin-top: 16px;
}
@media screen and (min-width:768px) {
    .img-about {
            margin-top: 0;
        }
}