/* section Blog (start) */

.blog{
    padding: 60px 0;
}
.blog .flower-swipe{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    padding-bottom: 26px;
    position: relative;
}
.blog .flower-swipe-item{
    display: flex;
    justify-content: center;
    margin: 0 8px;
    /* width: 136px; */
}
.blog .flower-swipe-item img{
    max-width: none;
    width: 100%;
    min-width: 135px;
}
@media screen and (min-width: 768px){
    .blog .flower-swipe-item img{
        min-width: 344px;
    }
}
@media screen and (min-width: 1280px) {
    .blog .flower-swipe-item img{
        min-width: 390px;
        max-height: 421px;
    }
}
    
.blog .my-slick-prev,
.blog .my-slick-next {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 48px;
    height: 5px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 400;
    font-size: 19px;
    border: none;
    color: var(--color-black);
    background-color: transparent;
    transition: color var(--main-trans);
}
.blog .my-slick-prev:active,
.blog .my-slick-next:active{
    color: var(--color-decor);
    transition: color var(--main-trans);
}
.blog .my-slick-next{
    right: 100px;
}
.blog .my-slick-prev{
    left: 100px;
}

.blog .follow{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog .follow-text{
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    margin-bottom: 24px;
}
.blog .follow-btn{
    max-width: 170px;
    padding: 8px 0;
    font-size: 18px;
    line-height: calc(24 / 18);
}



@media screen and (min-width: 480px){
    .blog .follow{
        margin-top: 45px;
    }
}
@media screen and (min-width: 768px) {
    .blog {
        padding: 100px 0 100px;
    }
    .blog .follow-text {
        font-size: 32px;
        line-height: calc(39 / 32);
        margin-bottom: 32px;
    }
    .blog .follow-btn {
        max-width: 280px;
        padding: 20px 0;
        font-size: 28px;
        line-height: calc(24 / 28);
    }
    .blog .follow {
        margin-top: 45px;
    }
    .blog .my-slick-prev{
        left: 280px;
    }
    .blog .my-slick-next {
        right: 280px;
    }
    .blog .my-slick-prev,
    .blog .my-slick-next {
        font-size: 30px;
        z-index: 99;
    }
    .blog .flower-swipe-item{
        margin: 0 16px;
    }
    .blog .flower-swipe{
        padding-bottom: 35px;
        margin-top: 60px;
    }
}
@media screen and (min-width: 1280px){
    .blog .follow {
        margin-top: 51px;
    }
    .blog .my-slick-prev{
        left: 550px;
    }
    .blog .my-slick-next{
        right: 550px;
    }
    .blog .flower-swipe{
        padding-bottom: 45px;
        margin-top: 122px;
    }
    .blog .my-slick-prev,
    .blog .my-slick-next {
        font-size: 32px;
    }
}

/* section Blog (end) */