.img-bg-courses{
    position: absolute;
    z-index: -1;
    transform: translateX(-95px);
    width: 389px;
}
.con-section-courses{
    padding: 80px 100px;
}
.tittle-tex-courses{
    text-align: center;
    margin-bottom: 8px;

    color: var(--color-black);
}
.par-txt-courses{
    margin-bottom: 48px;
    text-align: center;
    color: var(--color-grey);
}
.card-courses {
    display: flex;
    gap: 24px;

}
.card-courses-li {
    padding: 0 24px;
    width: 397px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 
    4px 16px 24px rgba(0, 0, 0, 0.05);
}
.tittle-txt-data{
    color: var(--color-white);
    padding-top: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--color-primary-02);
    margin-left: -24px;
    width: calc(100% + 48px);
}
.par-txt-con-courses-two{
    margin-top: 16px;
    margin-bottom: 137px;
}
.par-txt-con-courses{
    margin-top: 16px;
    margin-bottom: 193px;
}
.par-txt-con-courses-last{
    margin-top: 16px;
    margin-bottom: 221px;
}
.con-sales{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.free {
    
   
    padding: 3px 16px;
    
    background-color: var(--color-primary-04);
    border-radius: 100px;

}
.free-par-last{
    opacity: 0;
}
.btn-card{
    margin-bottom: 24px;
    align-content: center;
    padding: 12px 87px;
    color: var(--color-white);
    background-color: var(--color-secondary-01);
    border: 0;
}
.btn-card:hover{
    background-color: var(--color-secondary-02);
}
.btn-card:focus{
    background-color: var(--color-secondary-03);
}

