.header-container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1200px){
  .header-container {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

/* Header LOGO */

.header-logo-link{
  height: 64px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px){
  .header-logo-link {
    height: 46px;
  }
}

.header-logo{
  margin-right: 6px;
}

@media screen and (min-width: 1200px){
  .header-logo {
    width: 46px;
    height: 46px;
    margin-right: 5px;
  }
}

.header-logo-text{
  font-family: Lato;
  font-weight: 600;
  font-size: 18px;
  line-height: calc(15 / 18);
  letter-spacing: 0.01em;
  color: var(--color-black);
  text-transform: capitalize;
  margin-right: 29px;
}

@media screen and (min-width: 1200px){
  .header-logo-text {
    font-size: 14px;
    line-height: calc(11 / 14);
  }
}


/* Header NAV LIST */
/* Geberal */


@media screen and (max-width: 1199px){
  .header-nav{
    display: none;
  }
}

.header-nav {
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  justify-content:center;
  align-items: center;
}


/* Header - NAV - BTN */


@media screen and (max-width: 1199px){
  .btn-container{
    display: none;
  }
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
}

.header-nav-btn{
  /* position: relative; */
  padding: 8px 8px 8px 16px;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 4px;
  background: var(--color-white);
  border: none;
  color:  var(--color-black);
  font-family: Montserrat;
  font-size: 18px;
  line-height: calc(27 /18);
  letter-spacing: 0.01em;
}

.header-nav-btn:hover,
.header-nav-btn:focus,
.header-nav-btn:active{
  background-color: aqua;
}

.icon-arrow-before{
  opacity: 1;
}
.icon-arrow-after{
  opacity: 0;
}

.header-nav-btn:hover .icon-arrow-before,
.header-nav-btn:focus .icon-arrow-before,
.header-nav-btn:active .icon-arrow-before{
  opacity: 0;
}

.header-nav-btn:hover,
.header-nav-btn:focus,
.header-nav-btn:active .icon-arrow-after{
  opacity: 1;
}


/* Header - NAV - Links */


.header-nav-link{
  position: relative;
  font-family: Montserrat;
  font-size: 18px;
  line-height: calc(27 /18);
  letter-spacing: 0.01em;
  color: var(--color-black);
  padding: 8px 16px;
}

.header-nav-link.current::after{
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--color-primary-01);
}


/* BTN */


@media screen and (max-width: 1199px){
  .header-join-btn{
    display: none;
  }
}

.header-join-btn{
  width: 280px;
  height: 48px;
  background: var(--color-secondary-01);
  border: none;
  padding: 11px 0;
  color: var(--color-white);
  font-family: Lato;
  font-weight: 700;
  font-size: 18;
  line-height: calc(27 / 18);
  letter-spacing: 0.01em;
}



.header-login-btn{
  min-width: 59px;
  height: 48px;
  background: transparent;
  border: none;
  padding: 11px 0;
  font-family: Lato;
  font-weight: 700;
  font-size: 18;
  line-height: calc(27 / 18);
  letter-spacing: 0.01em;
}

@media screen and (min-width: 1200px){
  .header-login-btn {
    margin-left: 24px;
  }
}