.header-container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-link{
  height: 64px;
  display: flex;
  align-items: center;
}

.header-logo{
  margin-right: 6px;
}

.header-logo-text{
  font-family: Lato;
  font-weight: 600;
  font-size: 18px;
  line-height: calc(15 / 18);
  letter-spacing: 0.01em;
  color: black;
  text-transform: capitalize;
}

.login-btn{
  min-width: 59px;
  height: 48px;
  background: transparent;
  border: none;
  padding: 11px 0;
  font-family: Lato;
  font-weight: 700;
  font-size: 18;
  line-height: calc(27 / 18);
  letter-spacing: 0.01em;
}