.header-container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1200px){
  .header-container {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

/* Header LOGO */

.header-logo-link{
  height: 64px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px){
  .header-logo-link {
    height: 46px;
  }
}

.header-logo{
  margin-right: 6px;
}

@media screen and (min-width: 1200px){
  .header-logo {
    width: 46px;
    height: 46px;
    margin-right: 5px;
  }
}

.header-logo-text{
  font-family: Lato;
  font-weight: 600;
  font-size: 18px;
  line-height: calc(15 / 18);
  letter-spacing: 0.01em;
  color: var(--color-black);
  text-transform: capitalize;
  margin-right: 29px;
}

@media screen and (min-width: 1200px){
  .header-logo-text {
    font-size: 14px;
    line-height: calc(11 / 14);
  }
}


/* Header NAV LIST */
/* General */


@media screen and (max-width: 1199px){
  .header-nav{
    display: none;
  }
}

.header-nav {
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  margin-left: 2px;
}


/* Header - NAV - BTN */


/* @media screen and (max-width: 1199px){
  .btn-container{
    display: none;
  }
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
}

.header-nav-btn{
  padding: 8px 8px 8px 16px;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 4px;
  background: var(--color-white);
  border: none;
  color:  var(--color-black);
  font-family: Montserrat;
  font-size: 18px;
  line-height: calc(27 /18);
  letter-spacing: 0.01em;
}

.header-nav-btn:hover,
.header-nav-btn:focus{
  background-color: aqua;
}

.btn-container-training{
  position: relative;
}

.btn-container-training:after{
  position: absolute;
  content: '';
  display: none;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--color-primary-01);
}


.btn-container-training:hover::after {
  display: block;
}

.btn-container-training.active::after {
  display: block;
}



.btn-container-resources{
  position: relative;
}

.btn-container-resources:after{
  position: absolute;
  content: '';
  display: none;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--color-primary-01);
}


.btn-container-resources:hover::after {
  display: block;
}

.btn-container-resources.active::after {
  display: block;
} */

.header-dropdown-link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: Montserrat;
  font-size: 18px;
  line-height: calc(27 /18);
  letter-spacing: 0.01em;
  color: var(--color-black);
  padding: 8px 8px 8px 16px;
}

.header-nav{
  width: 100%; 
  height: 50px; 
  margin: 0;
  z-index: 99; 
}

.dropdown-list{
position: absolute;
display: none;
/* height: auto;									
margin: 0; 
padding: 0;  */
}		

.header-nav-content:hover .dropdown-list{
display: flex;
flex-direction: column;
padding: 16px;
width: 340px;
background-color: var(--color-white);
outline:1px solid #CFD4DA;
outline-offset: -1px;
box-shadow: 4px 16px 24px rgba(0, 0, 0, 0.05), 0px 1px 
3px rgba(0, 0, 0, 0.05);
}

.dropdown-link{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(27 / 18);
  letter-spacing: 0.01em;
  margin: 11px 0;
}



  /* .header-nav-list li{
  height: auto;
  width: 136px; 
  float: left;  
  text-align: center; 
  list-style: none;  
  padding: 0;
  margin: 0;
} */




  /* .header-nav-list li div a{
  border-left: 1px solid #444444; 
  border-right: 1px solid #444444; 
  border-top: 1px solid #c9d4d8; 
  border-bottom: 1px solid #444444; 
  } */

  /* .header-nav-list li div a:hover{
  background-color: #a3a1a1;
  } */










/* BTN Icon Animation */

.icon-arrow-before{
  opacity: 1;
  transition: opacity var(--main-trans);
}
.icon-arrow-after{
  opacity: 0;
  transition: opacity var(--main-trans);
}

.header-dropdown-link:hover .icon-arrow-before,
.header-dropdown-link:focus .icon-arrow-before{
  opacity: 0;
}

.header-dropdown-link:hover .icon-arrow-after,
.header-dropdown-link:focus .icon-arrow-after{
  opacity: 1;
}


/* Header - NAV - Links */


.header-nav-link{
  /* position: relative; */
  font-family: Montserrat;
  font-size: 18px;
  line-height: calc(27 /18);
  letter-spacing: 0.01em;
  color: var(--color-black);
  padding: 8px 16px;
}

/* .header-nav-link.current::after{
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  bottom: -4px;
  background-color: var(--color-primary-01);
} */


/* BTN */


@media screen and (max-width: 1199px){
  .header-join-btn{
    display: none;
  }
}

.header-join-btn{
  width: 280px;
  height: 48px;
  background: var(--color-secondary-01);
  border: none;
  padding: 11px 0;
  color: var(--color-white);
  font-family: Lato;
  font-weight: 700;
  font-size: 18;
  line-height: calc(27 / 18);
  letter-spacing: 0.01em;
}



.header-login-btn{
  min-width: 59px;
  height: 48px;
  background: transparent;
  border: none;
  padding: 11px 0;
  font-family: Lato;
  font-weight: 700;
  font-size: 18;
  line-height: calc(27 / 18);
  letter-spacing: 0.01em;
}

@media screen and (min-width: 1200px){
  .header-login-btn {
    margin-left: 24px;
  }
}






/* .header-nav-content{
  position: relative;
}

.header-nav-link:after{
  position: absolute;
  content: '';
  display: none;
  width: 100%;
  height: 4px;
  bottom: -9px;
  background-color: var(--color-primary-01);
}


.header-nav-link:hover::after {
  display: block;
}

.header-nav-link.active::after {
  display: block;
} */



/* .header-nav-list{
  position: relative;
}
.header-nav-content-btn:after{
  position: absolute;
  content: '';
  display: none;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--color-primary-01);
}

.header-nav-content-btn:hover::after {
  display: block;
}

.header-nav-content-btn.active::after {
  display: block;
} */