.hero-section {
  position: relative;
  padding-top: 44px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 38px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    height: 878px;
    padding-top: 0;
  }
}

.hero-container {
  position: relative;
  height: 100%;
  z-index: 10;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    justify-content: space-between;
    padding-bottom: 0;
  }
}

.page-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: inherit;
  font-size: 52px;
  line-height: calc(63 / 52);
  text-align: center;
  color: var(--color-black);
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 120px;

    line-height: calc(146 / 120);
  }
}

@media screen and (min-width: 1280px) {
  .page-title {
    font-size: 160px;

    line-height: calc(195 / 160);
    animation: move-vertical 1000ms ease-out 1000ms both;
  }
}

@media screen and (min-width: 1280px) {
  .page-title:after {
    content: '';
    position: absolute;
    top: 25px;
    right: 21px;
    width: 58px;
    height: 8px;
    background-color: currentColor;
  }
}

.hero-badge {
  width: 46px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  margin-left: 11px;
}

@media screen and (min-width: 768px) {
  .hero-badge {
    width: 76px;
    font-size: 24px;
    margin-left: 49px;
    line-height: calc(29 / 24);
  }
}

@media screen and (min-width: 1280px) {
  .hero-badge {
    font-size: 32px;
    line-height: calc(39 / 32);
    margin-left: 210px;
    animation: move-vertical 1000ms ease-out 1000ms both;
  }
}

.hero-button {
  width: 64px;
  height: 76px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .hero-button {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-button {
    width: 166px;
    height: 166px;
    margin-right: 145px;
    animation: move-vertical 1000ms ease-out 1000ms both;
  }
}

.hero-button-svg_tablet {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-button-svg_tablet {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .hero-button-svg {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hero-button-svg_tablet {
    display: none;
  }
}

.hero-button-svg_desk {
  display: none;
}

@media screen and (min-width: 1280px) {
  .hero-button-svg_desk {
    display: block;
  }
}

.hero-btn-txt {
  transform-origin: center;
  animation: infinity-rotate 30s linear 4s infinite;
}

@media screen and (max-width: 1279px) {
  .hero-btn-txt {
    animation-delay: 0s;
  }
}

.hero-btn-arrow {
  transform-origin: center;
  transition: transform 500ms ease-out;
}
.hero-button:hover .hero-btn-arrow,
.hero-button:focus .hero-btn-arrow {
  transform: rotate(-122deg);
}
.hero-icon-text {
  transform-origin: center;
  animation: infinity-rotate 30s linear 4s infinite;
}

.img-transition {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translate(-50%);
  display: none;
  width: 100%;
  height: 100%;
  animation: scale-up-center 1000ms ease-out 1000ms both;
}

@media screen and (min-width: 1280px) {
  .img-transition {
    display: block;
  }
  .hero-image_adaptive {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-image_adaptive {
    width: 390px;
  }
}

.hero-image {
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}

.hero-image_adaptive {
  margin-left: 14px;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .hero-image_adaptive {
    margin-left: 40px;
    margin-right: 20px;
  }
}

/* -----Transition properties----- */

@keyframes scale-up-center {
  0% {
    clip-path: inset(150px 421px 92px 421px round 226px);
  }
  50% {
    clip-path: inset(150px 345px 92px 345px round 226px);
  }
  100% {
    clip-path: inset(0 round 0);
  }
}

@keyframes move-vertical {
  from {
    transform: translateX(var(--shift-from-x, -50%))
      translateY(var(--shift-from-y, 0));
  }
  to {
    transform: translateX(var(--shift-to-x, -50%))
      translateY(var(--shift-to-y, 0));
    color: var(--color-white);
    fill: var(--color-white);
  }
}

@keyframes infinity-rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}
