@media screen and (min-width: 768px){
    .mobile-nav-menu {
        display: none;
    }
  }

  .nav-container {
    /* display: none; */
    opacity: 1;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-white);
    padding-top: 8px;
    padding-bottom: 24px;
  }

  .mobile-nav-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;  
  }

  .nav-menu-btn{
    height: 68px;
    width: 88px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .mobile-nav-item,
  .mobile-nav-link,
  .mobile-nav-item-link{
    height: 68px;
    width: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    fill: var(--color-neutral-01);
    transition: fill var(--main-trans);
  }

  .nav-icon{
    margin-bottom: 5px;
  }

  .nav-text,
  .nav-text-link{
    font-family: "Montserrat";
    font-size: 16px;
    line-height: calc(24 / 16);
   }

  .nav-menu-btn:hover,
  .mobile-nav-link:hover,
  .nav-menu-btn:active{
    font-weight: 700;
    fill: var(--color-secondary-01);
    transition: font-weight var(--main-trans), fill var(--main-trans);
  }

