@media screen and (max-width: 767px) {
    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 800;
        visibility: hidden;
        opacity: 0;
        /* transform: translateY(150%);
        transition: all var(--main-trans); */
        transition: opacity var(--main-trans), visibility var(--main-trans);
        overflow: hidden;
    }

    .menu-container.is-open {
        visibility: visible;
        opacity: 1;
        transition: opacity var(--main-trans);
        /* visibility: visible;
        opacity: 1;
        transform: translateY(0%);
        transition: all var(--main-trans); */
    }
    

    .page-nav-mobile{
        position: fixed;
        bottom: 132px;
        left: 50%;
        transform: translateX(-50%);  
        background-color: rgba(245, 245, 245, 0.9);
        backdrop-filter: blur(7px);
        border-radius: 22px; 
    }

    .nav-mobile-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
  
    }

    .nav-mobile-list-item{
        border-top: 1px solid rgba(60, 60, 67, 0.36);           
    }

    .nav-mobile-list-link{  
        display: flex;
        justify-content: center;
        align-items: center;
        height: 62px;
        width: 374px;
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 20;
        line-height: calc(25 / 20);
        color: #007AFF;
           
    }
    .for-border{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        border: none;
        font-size: 13;
        line-height: calc(18 / 13);
        color: rgba(60, 60, 67, 0.6);
    }
}

@media screen and (min-width: 768px){
    .menu-container,
    .page-nav-mobile,
    .nav-mobile-content{
        display: none;
    }
}  
