.blog-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 272px;
  min-height: 380px;
  background-color: var(--color-white);
  z-index: 100;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}


@media screen and (min-width: 768px) {
  .blog-modal {
    width: 588px;
  }
}

@media screen and (min-width: 1280px) {
  .blog-modal {
    width: 860px;
    display: flex;
  }
}

.blog-modal-btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 0;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

.blog-modal-btn-close:hover {
  scale: 1.2;
}

@media screen and (min-width: 768px) {
  .blog-modal-btn-close {
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 768px) {
  .modal-closed-icon {
    width: 24px;
    height: 24px;
  }
}

.modal-blog-content {
  padding: 18px 16px 28px 16px;
}

@media screen and (min-width: 768px) {
  .modal-blog-content {
    padding: 28px 118px 40px 118px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-blog-content {
    padding: 111px 40px 112px 40px;
  }
}

.title-blog-modal {
  text-align: center;

  font-weight: 600;
  font-size: 19px;
  line-height: calc(23 / 19);

  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .title-blog-modal {
    font-size: 28px;
    line-height: calc(34 / 28);
    margin-bottom: 24px;
  }
}

.txt-blog-modal {
  text-align: center;
  font-size: 12px;
  line-height: 130%;
  width: 236px;
  color: var(--color-modal);
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .txt-blog-modal {
    font-size: 16px;
    width: 336px;

    margin-bottom: 57px;
  }
}

.blog-modal-field {
  outline: none;
  width: 100%;
  height: 35px;
  padding: 0px 34px 0px 12px;
  border: 1px solid var(--color-input);
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  margin-top: 8px;
  margin-bottom: 18px;
  transition: border-color var(--main-trans);
}

@media screen and (min-width: 768px) {
  .blog-modal-field {
    font-size: 14px;
    line-height: calc(17 / 14);
    height: 49px;
    margin-bottom: 28px;
    padding-left: 16px;
    padding-right: 39px;
  }
}

.blog-field-icons.blog-modal-field:focus,
.blog-modal-field:focus-visible {
  border-color: rgba(17, 17, 17, 0.7);
  transition: border-color var(--main-trans);
}

.blog-modal-field:not(:placeholder-shown):required:valid {
  border-color: var(--color-input-green);
  transition: border-color var(--main-trans);
}
.blog-modal-field:not(:placeholder-shown):required:valid ~ .title-email-form-two{
  color: var(--color-input-green);
}
.blog-modal-field:not(:placeholder-shown):required:invalid {
  border-color: var(--color-input-red);
  transition: border-color var(--main-trans);
}
.blog-modal-field:not(:placeholder-shown):required:invalid ~ .title-email-form-two{
  color: var(--color-input-red);
}
.blog-modal-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
}

@media screen and (min-width: 768) {
  .blog-modal-field::placeholder {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.icon-position {
  position: relative;
}
.blog-field-icons {
  position: absolute;
  top: 15px;
  right: 8px;
  opacity: 0;
  transition: opacity var(--main-trans);
}

@media screen and (min-width: 768px) {
  .blog-field-icons {
    top: 23px;
    right: 10px;
  }
}

.blog-modal-field:not(:placeholder-shown):required:valid
  + .blog-field-icons-ok {
  opacity: 1;
  transition: opacity var(--main-trans);
}
.blog-modal-field:not(:placeholder-shown):required:invalid
  ~ .blog-field-icons-error {
  opacity: 1;
  transition: opacity var(--main-trans);
}

.blog-modal-btn {
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  padding: 10px 82px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .blog-modal-btn {
    padding: 14px 122px;
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}

.title-email-form-two{
  font-weight: 500;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: var(--color-modal);
  position: absolute;
  right: 210px;
  top: -10px; 
}

@media screen and (min-width:768px) {
.title-email-form-two {
    right: 303px;
    top: -17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--color-modal);
  }
}