.store-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  width: 272px;
  min-height: 357px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .store-modal {
    width: 480px;
    min-height: 511px;
  }
}

.store-modal-btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 0;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.store-modal-btn-close:hover {
  scale: 1.2;
}

@media screen and (min-width: 768px) {
  .store-modal-btn-close {
    top: 24px;
    right: 24px;
  }
}

.store-modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .store-modal-title {
    font-size: 32px;
    line-height: calc(39 / 32);
    margin-bottom: 24px;
  }
}

.store-modal-txt {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  margin-bottom: 38px;
  color: var(--color-modal);
}

@media screen and (min-width: 768px) {
  .store-modal-txt {
    font-size: 16px;
    line-height: calc(20 / 16);
    margin-bottom: 57px;
  }
}

.modal-store-content {
  padding: 28px 16px;
}

@media screen and (min-width: 768px) {
  .modal-store-content {
    padding: 48px 32px;
  }
}

.store-modal-field {
  width: 100%;
  height: 35px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
}
.store-name-field {
  outline: none;
  width: 100%;
  height: 35px;
  border: 1px solid var(--color-input);
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  margin-top: 8px;
  margin-bottom: 34px;
  padding: 0px 34px 0 12px;
  transition: border-color var(--main-trans);
}

@media screen and (min-width: 768px) {
  .store-name-field {
    height: 49px;
    margin-bottom: 49px;
    font-size: 14px;
    line-height: calc(17 / 14);
    padding: 0px 39px 0px 16px;
  }
}

.store-name-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
}

@media screen and (min-width: 768px) {
  .store-name-field::placeholder {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.store-email-field {
  outline: none;
  width: 100%;
  height: 35px;
  border: 1px solid var(--color-input);
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  margin-top: 8px;
  margin-bottom: 24px;
  padding: 0px 34px 0 12px;
  transition: border-color var(--main-trans);
}

@media screen and (min-width: 768px) {
  .store-email-field {
    height: 49px;
    font-size: 14px;
    line-height: calc(17 / 14);
    margin-bottom: 38px;
    padding: 0px 39px 0px 16px;
  }
}

.store-email-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
}

@media screen and (min-width: 768px) {
  .store-email-field::placeholder {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.store-modal-btn {
  padding: 10px 102px 10px 102px;
  border-radius: 8px;
  font-size: 14px;
  line-height: calc(17 / 14);
}

@media screen and (min-width: 768px) {
  .store-modal-btn {
    font-size: 18px;
    line-height: calc(22 / 18);
    padding: 14px 184px 14px 184px;
  }
}

.icon-position {
  position: relative;
}

.blog-field-icons {
  position: absolute;
  top: 15px;
  right: 8px;
  opacity: 0;
  transition: opacity var(--main-trans);
}

@media screen and (min-width: 768px) {
  .blog-field-icons {
    top: 23px;
    right: 10px;
  }
}

.blog-field-icons.store-name-field:focus,
.store-name-field:focus-visible {
  border-color: rgba(17, 17, 17, 0.7);
  transition: border-color var(--main-trans);
}


.store-name-field:not(:placeholder-shown):required:valid {
  border-color: var(--color-input-green);
  transition: border-color var(--main-trans);
}
.store-name-field:not(:placeholder-shown):required:valid ~ .title-name-form{
 color: var(--color-input-green);
}
.store-name-field:not(:placeholder-shown):required:invalid {
  border-color: var(--color-input-red);
  transition: border-color var(--main-trans);
}
.store-name-field:not(:placeholder-shown):required:invalid ~ .title-name-form{
  color: var(--color-input-red);
}
.blog-field-icons.store-email-field:focus,
.store-email-field:focus-visible {
  border-color: rgba(17, 17, 17, 0.7);
  transition: border-color var(--main-trans);
}

.store-email-field:not(:placeholder-shown):required:valid {
  border-color: var(--color-input-green);
  transition: border-color var(--main-trans);
}
.store-email-field:not(:placeholder-shown):required:valid ~ .title-email-form{
  color: var(--color-input-green);
}
.store-email-field:not(:placeholder-shown):required:invalid {
  border-color: var(--color-input-red);
  transition: border-color var(--main-trans);
}
.store-email-field:not(:placeholder-shown):required:invalid ~ .title-email-form {
  color: var(--color-input-red); 
}
.store-name-field:not(:placeholder-shown):required:valid
  + .blog-field-icons-ok {
  opacity: 1;
  transition: opacity var(--main-trans);
}

.store-name-field:not(:placeholder-shown):required:invalid
  ~ .blog-field-icons-error {
  opacity: 1;
  transition: opacity var(--main-trans);
}

.store-email-field:not(:placeholder-shown):required:valid
  + .blog-field-icons-ok {
  opacity: 1;
  transition: opacity var(--main-trans);
}

.store-email-field:not(:placeholder-shown):required:invalid
  ~ .blog-field-icons-error {
  opacity: 1;
  transition: opacity var(--main-trans);
}

.title-name-form{
  position: absolute;
  right: 201px;
  top: -14px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: var(--color-modal);
}

@media screen and (min-width:768px) {
  .title-name-form{
    right: 367px;
    top: -18px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}

.title-email-form{
  position: absolute;
  right: 204px;
  top: -14px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: var(--color-modal);
}

@media screen and (min-width:768px) {
.title-email-form{
    right: 370px;
    top: -18px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}