.bg-our-team{
    width: 530px;
    position: absolute;
    z-index: -1;
    transform: translateX(150%);
}
.con-section-team{
   
    padding-top: 56px;
    padding-bottom: 56px;
}
@media screen and (min-width: 1200px) {
    .con-section-team{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
}
.tittle-section-team{
    
    margin-bottom: 32px;
    color: var(--color-black); 
}
@media screen and (min-width: 1200px) {
    .tittle-section-team{
        margin-bottom: 48px;
        
    }
    
}
.card-img-our-team{
    width: 200px;
}
.img-courtney{
    height: 316px;
}
.txt-name-card{
    width: 200px;
    
    border-radius: 0px 0px 6px 6px;
    padding: 44px 16px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 4px 16px 24px rgba(0, 0, 0, 0.05);
}

.tittle-name-card {
    text-align: center;
    margin-bottom: 8px;
    color: var(--color-black)
}
.tittle-name-jordan{
    font-size: 17px;
}
.par-name-card {
    text-align: center;
    color: var(--color-grey);

}
.list-card-team {
    display: flex;
    gap: 24px;
}
.card-team-li {
    /* margin: 0 12px; */
    width: 200px;
    height: 464px;
}
/* team card */
.kenny{
    padding: 31px 16px;

}
.myles, .jordan{
    padding: 32px 16px;
}
