.container {


  min-width: 320px;
  margin: 0 auto;
  max-width: 428px;
  padding: 0 16px;

  outline: 2px solid red;
  outline-offset: -2px;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

}

