.container {
  min-width: 390px;
  margin: 0 auto;
  max-width: 390px;
  padding: 0 16px;


  outline: 2px solid red;
  outline-offset: -2px;
}


/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 24px;
  }
} */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }

}

