.common-style-hero {
	font-size: 120px;
	font-family: "Lato";
	font-weight: 700;
	font-style: normal;
	line-height: 150%;
	letter-spacing: 0.01em;
	text-decoration: none;
	text-transform: none;
}
.common-style-h-1 {
	font-size: 80px;
	font-family: "Lato";
	font-weight: 700;
	font-style: normal;
	line-height: 150%;
	letter-spacing: 0.01em;
	text-decoration: none;
	text-transform: none;
}
.common-style-h-2 {
	font-size: 64px;
	font-family: "Lato";
	font-weight: 700;
	font-style: normal;
	line-height: 110%;
	letter-spacing: -0.01em;
	text-decoration: none;
	text-transform: none;
}
.common-style-h-3 {
	font-size: 48px;
	font-family: "Lato";
	font-weight: 700;
	font-style: normal;
	line-height: 130%;
	letter-spacing: 0.01em;
	text-decoration: none;
	text-transform: none;
}
.common-style-h-4 {
	font-size: 40px;
	font-family: "Lato";
	font-weight: 700;
	font-style: normal;
	line-height: 150%;
	letter-spacing: 0.01em;
	text-decoration: none;
	text-transform: none;
}
.common-style-h-5 {
	font-size: 32px;
	font-family: "Lato";
	font-weight: 700;
	font-style: normal;
	line-height: 150%;
	letter-spacing: 0.01em;
	text-decoration: none;
	text-transform: none;
}
.common-style-h-6 {
	font-size: 24px;
	font-family: "Lato";
	font-weight: 700;
	font-style: normal;
	line-height: 140%;
	letter-spacing: 0.01em;
	text-decoration: none;
	text-transform: none;
}