<section class="section-about" id="about-section">
    <div class="container">
      <h2 class="title-common title-about">ABOUT</h2>
      <div class="all-in-about">
        <div>
          <p class="common-text txt-about">
            We are a minimalistic flower studio. We love people and flowers.
            Therefore, every day we give people the beauty and joy creating
            stylish and modern masterpieces. Every bouquet we create is unique as
            you are.
          </p>
        </div>
        <div class="img-about">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="./img/about/image_about_desk_1x.png 1x, 
                      ./img/about/image_about_desk_2x.png 2x"/>
            <source
              media="(min-width:768px)"
              srcset="./img/about/image_about_tab_1x.png 1x, 
                      ./img/about/image_about_tab_2x.png 2x"/>
            <source
              media="(max-width:767px)"
              srcset="./img/about/image_about_mob_1x.png 1x, 
                      ./img/about/image_about_mob_2x.png 2x"/>
            <img
              src="./img/about/image_about_mob_1x.png"
              alt="two beautiful pink flowers"
              loading="lazy"/>          
          </picture>
        </div>
      </div>
    </div>
  </section>