<!-- section Blog (start) -->

<section class="blog" id="blog-section">
  <div class="container">
    <h2 class="title-common">Blog</h2>
    <div class="flower-swipe">
      <div class="flower-swipe-item">
        <img
          srcset="
            ./img/blog/flower1_136.jpg  320w,
            ./img/blog/flower1_272.jpg  640w,
            ./img/blog/flower1_344.jpg  468w,
            ./img/blog/flower1_390.jpg 1200w,
            ./img/blog/flower1_688.jpg  936w,
            ./img/blog/flower1_780.jpg 2400w
          "
          sizes="(min-width: 1280px) 1200px, (min-width: 768px) 468px, (min-width: 480px) 320px, 100vw"
          src="./img/blog/flower1_390.jpg"
          alt="green flowers"
          width="390"
          height="421"
          loading="lazy"
        />
      </div>
      <div class="flower-swipe-item">
        <img
          srcset="
            ./img/blog/flower2_136.jpg  320w,
            ./img/blog/flower2_272.jpg  640w,
            ./img/blog/flower2_344.jpg  468w,
            ./img/blog/flower2_390.jpg 1200w,
            ./img/blog/flower2_688.jpg  936w,
            ./img/blog/flower2_780.jpg 2400w
          "
          sizes="(min-width: 1280px) 1200px, (min-width: 768px) 468px, (min-width: 480px) 320px, 100vw"
          src="./img/blog/flower2_390.jpg"
          alt="green flowers"
          width="390"
          height="421"
          loading="lazy"
        />
      </div>
      <div class="flower-swipe-item">
        <img
          srcset="
            ./img/blog/flower3_136.jpg  320w,
            ./img/blog/flower3_272.jpg  640w,
            ./img/blog/flower3_344.jpg  468w,
            ./img/blog/flower3_390.jpg 1200w,
            ./img/blog/flower3_688.jpg  936w,
            ./img/blog/flower3_780.jpg 2400w
          "
          sizes="(min-width: 1280px) 1200px, (min-width: 768px) 468px, (min-width: 480px) 320px, 100vw"
          src="./img/blog/flower3_390.jpg"
          alt="green flowers"
          width="390"
          height="421"
          loading="lazy"
        />
      </div>
      <div class="flower-swipe-item">
        <img
          srcset="
            ./img/blog/flower1_136.jpg  320w,
            ./img/blog/flower1_272.jpg  640w,
            ./img/blog/flower1_344.jpg  468w,
            ./img/blog/flower1_390.jpg 1200w,
            ./img/blog/flower1_688.jpg  936w,
            ./img/blog/flower1_780.jpg 2400w
          "
          sizes="(min-width: 1280px) 1200px, (min-width: 768px) 468px, (min-width: 480px) 320px, 100vw"
          src="./img/blog/flower1_390.jpg"
          alt="green flowers"
          width="390"
          height="421"
          loading="lazy"
        />
      </div>
      <div class="flower-swipe-item">
        <img
          srcset="
            ./img/blog/flower2_136.jpg  320w,
            ./img/blog/flower2_272.jpg  640w,
            ./img/blog/flower2_344.jpg  468w,
            ./img/blog/flower2_390.jpg 1200w,
            ./img/blog/flower2_688.jpg  936w,
            ./img/blog/flower2_780.jpg 2400w
          "
          sizes="(min-width: 1280px) 1200px, (min-width: 768px) 468px, (min-width: 480px) 320px, 100vw"
          src="./img/blog/flower1_390.jpg"
          alt="green flowers"
          width="390"
          height="421"
          loading="lazy"
        />
      </div>
      <div class="flower-swipe-item">
        <img
          srcset="
            ./img/blog/flower3_136.jpg  320w,
            ./img/blog/flower3_272.jpg  640w,
            ./img/blog/flower3_344.jpg  468w,
            ./img/blog/flower3_390.jpg 1200w,
            ./img/blog/flower3_688.jpg  936w,
            ./img/blog/flower3_780.jpg 2400w
          "
          sizes="(min-width: 1280px) 1200px, (min-width: 768px) 468px, (min-width: 480px) 320px, 100vw"
          src="./img/blog/flower1_390.jpg"
          alt="green flowers"
          width="390"
          height="421"
          loading="lazy"
        />
      </div>
      <div class="flower-swipe-item">
        <img
          srcset="
            ./img/blog/flower1_136.jpg  320w,
            ./img/blog/flower1_272.jpg  640w,
            ./img/blog/flower1_344.jpg  468w,
            ./img/blog/flower1_390.jpg 1200w,
            ./img/blog/flower1_688.jpg  936w,
            ./img/blog/flower1_780.jpg 2400w
          "
          sizes="(min-width: 1280px) 1200px, (min-width: 768px) 468px, (min-width: 480px) 320px, 100vw"
          src="./img/blog/flower1_390.jpg"
          alt="green flowers"
          width="390"
          height="421"
          loading="lazy"
        />
      </div>
      <div class="flower-swipe-item">
        <img
          srcset="
            ./img/blog/flower2_136.jpg  320w,
            ./img/blog/flower2_272.jpg  640w,
            ./img/blog/flower2_344.jpg  468w,
            ./img/blog/flower2_390.jpg 1200w,
            ./img/blog/flower2_688.jpg  936w,
            ./img/blog/flower2_780.jpg 2400w
          "
          sizes="(min-width: 1280px) 1200px, (min-width: 768px) 468px, (min-width: 480px) 320px, 100vw"
          src="./img/blog/flower1_390.jpg"
          alt="green flowers"
          width="390"
          height="421"
          loading="lazy"
        />
      </div>
      <div class="flower-swipe-item">
        <img
          srcset="
            ./img/blog/flower3_136.jpg  320w,
            ./img/blog/flower3_272.jpg  640w,
            ./img/blog/flower3_344.jpg  468w,
            ./img/blog/flower3_390.jpg 1200w,
            ./img/blog/flower3_688.jpg  936w,
            ./img/blog/flower3_780.jpg 2400w
          "
          sizes="(min-width: 1280px) 1200px, (min-width: 768px) 468px, (min-width: 480px) 320px, 100vw"
          src="./img/blog/flower1_390.jpg"
          alt="green flowers"
          width="390"
          height="421"
          loading="lazy"
        />
      </div>
    </div>
    <div class="follow">
      <p class="follow-text">Follow to our newsletter</p>
      <button
        type="button"
        class="btn-common follow-btn js-open-modal"
        data-modal="3"
      >
        Subscribe
      </button>
    </div>
  </div>
</section>

<!-- section Blog (end) -->
