<section>
    <div class="container">
        <h2 class="common-style-h-3">Blog</h2>
        
        <ul class="ul-blog">
            <li class="list-blog"> <button type="button" class="btn-li-blog">Sales</button></li>
            <li class="list-blog"> <button type="button" class="btn-li-blog">Community</button></li>
            <li class="list-blog"> <button type="button" class="btn-li-blog">Financial</button></li>
            <li class="list-blog"> <button type="button" class="btn-li-blog">Tables</button></li>
            <li class="list-blog"><a href="">See All Articles</a></li>
        </ul>
    </div>    
</section>