<section class="company-section" id="company_section">
  <div class="container company-container">
    <h2 class="common-style-h-5 company-title">Companies That Trust Us</h2>

    <div class="company-swipe">
      <div class="company-swipe-item">
        <a
          href="https://www.enfield.gov.uk"
          target="_blank"
          rel="noopener noreferrer"
        >
          <picture>
            <source
              srcset="
                ./img/company/img1_1x.png 1x,
                ./img/company/img1_2x.png 2x
              " />
            <img
              src="./img/company/img1_1x.png"
              alt="Company 1"
              width=""
              height="150"
              loading="lazy"
          /></picture>
        </a>
      </div>
      <div class="company-swipe-item">
        <a
          href="https://www.mulalley.co.uk"
          target="_blank"
          rel="noopener noreferrer"
        >
          <picture>
            <source
              srcset="
                ./img/company/img2_1x.png 1x,
                ./img/company/img2_2x.png 2x
              " />
            <img
              src="./img/company/img2_1x.png"
              alt="Company 2"
              width=""
              height="150"
              loading="lazy"
          /></picture>
        </a>
      </div>
      <div class="company-swipe-item">
        <a
          href="https://dhl-consulting.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <picture>
            <source
              srcset="
                ./img/company/img3_1x.png 1x,
                ./img/company/img3_2x.png 2x
              " />
            <img
              src="./img/company/img3_1x.png"
              alt="Company 3"
              width=""
              height="150"
              loading="lazy"
          /></picture>
        </a>
      </div>
      <div class="company-swipe-item">
        <a
          href="https://www.comfortdelgro.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <picture>
            <source
              srcset="
                ./img/company/img4_1x.png 1x,
                ./img/company/img4_2x.png 2x
              " />
            <img
              src="./img/company/img4_1x.png"
              alt="Company 4"
              width=""
              height="150"
              loading="lazy"
          /></picture>
        </a>
      </div>
      <div class="company-swipe-item">
        <a
          href="https://www.purplelime.uk.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <picture>
            <source
              srcset="
                ./img/company/img5_1x.png 1x,
                ./img/company/img5_2x.png 2x
              " />
            <img
              src="./img/company/img5_1x.png"
              alt="Company 5"
              width=""
              height="150"
              loading="lazy"
          /></picture>
        </a>
      </div>
      <div class="company-swipe-item">
        <a href="https://vorboss.com" target="_blank" rel="noopener noreferrer">
          <picture>
            <source
              srcset="
                ./img/company/img6_1x.png 1x,
                ./img/company/img6_2x.png 2x
              " />
            <img
              src="./img/company/img6_1x.png"
              alt="Company 6"
              width=""
              height="150"
              loading="lazy"
          /></picture>
        </a>
      </div>
      <div class="company-swipe-item">
        <a
          href="https://kpmg.com/uk/en/home.html"
          target="_blank"
          rel="noopener noreferrer"
        >
          <picture>
            <source
              srcset="
                ./img/company/img7_1x.png 1x,
                ./img/company/img7_2x.png 2x
              " />
            <img
              src="./img/company/img7_1x.png"
              alt="Company 7"
              width=""
              height="150"
              loading="lazy"
          /></picture>
        </a>
      </div>
      <div class="company-swipe-item">
        <a
          href="https://www.mdd.com/locations/london/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <picture>
            <source
              srcset="
                ./img/company/img8_1x.png 1x,
                ./img/company/img8_2x.png 2x
              " />
            <img
              src="./img/company/img8_1x.png"
              alt="Company 8"
              width=""
              height="150"
              loading="lazy"
          /></picture>
        </a>
      </div>
      <div class="company-swipe-item">
        <a
          href="https://www.tunstall.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <picture>
            <source
              srcset="
                ./img/company/img9_1x.png 1x,
                ./img/company/img9_2x.png 2x
              " />
            <img
              src="./img/company/img9_1x.png"
              alt="Company 9"
              width=""
              height="150"
              loading="lazy"
          /></picture>
        </a>
      </div>
      <div class="company-swipe-item">
        <a
          href="https://www.pitcher.com.au"
          target="_blank"
          rel="noopener noreferrer"
        >
          <picture>
            <source
              srcset="
                ./img/company/img10_1x.png 1x,
                ./img/company/img10_2x.png 2x
              " />
            <img
              src="./img/company/img10_1x.png"
              alt="Company 10"
              width=""
              height="150"
              loading="lazy"
          /></picture>
        </a>
      </div>
    </div>
  </div>
</section>
