<section>
    <div class="container con-section-courses">
        <img src="../img/courses/img-courses.png" alt="" class="img-bg-courses">
        <h2 class="common-style-h-3 tittle-tex-courses">Standalone Courses</h2>
        <p class="common-text-p-3-book par-txt-courses">Not ready to join as a full member? Take a look at some of our alternative training options</p>
        <div class="card-courses">
            <div class="card-courses-li">
                <h3 class="common-style-h-6 tittle-txt-data">Data Visualization</h3>
                <p class="common-text-p-3-book par-txt-con-courses">Master the skills you need to create exceptional presentations & reports</p>
                <div class="con-sales">
                    <p class="b1-body free">free</p>
                    <p class="">18 days</p>
                </div>
                <button type="button" class="common-text-button-medium btn-card">Find Out More</button>
            </div>
            
            <div class="card-courses-li">
                <h3 class="common-style-h-6 tittle-txt-data">Fundamentals of FAST Modelling</h3>
                <p class="common-text-p-3-book par-txt-con-courses-two">FAST modelling skills you need to build Flexible, Appropriate, Structured and Transparent financial models</p>
                <div class="con-sales">
                    <p class="b1-body free">$198</p>
                    <p class="">12 Months' Access</p>
                </div>
                <button type="button" class="common-text-button-medium btn-card">Find Out More</button>
            </div>
            
            <div class="card-courses-li">
                <h3 class="common-style-h-6 tittle-txt-data">Excel Mastery Bootcamps</h3>
                <p class="common-text-p-3-book par-txt-con-courses-last">Rethink how you build models in Excel</p>
                <div class="con-sales">
                    <p class="b1-body free free-par-last">198</p>
                    <p class="par-">18 days</p>
                </div>
                <button type="button" class="common-text-button-medium btn-card">Find Out More</button>
            </div>
            <!-- <div class="card-courses-li"></div>
            <div class="card-courses-li"></div> -->
        </div>
        
    </div>    
</section>