<footer class="footer">
  <div class="footer-studio container">
    <div class="footer-logo-box">
      <ul class="footer-nav-list footer-list-logo">
        <li class="footer-logo">
          <a href="#" aria-label="logo" class="footer-logo-anemone">
            <svg class="footer-logo-link" width="73" height="57">
              <use href="./img/icons/icons.svg#icon-big_logo"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="navigator-menu">
      <h3 class="footer-block-name">Navigation</h3>
      <nav class="footer-block-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-link">
            <a href="#hero-section" class="footer-nav-item">Anemone</a>
          </li>
          <li class="footer-nav-link">
            <a href="#about-section" class="footer-nav-item">About us</a>
          </li>
          <li class="footer-nav-link">
            <a href="#store-section" class="footer-nav-item">Store</a>
          </li>
          <li class="footer-nav-link">
            <a
              href="#delivery-section"
              class="footer-nav-item last-footer-nav-item"
              >Delivery</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="worker-time">
      <h3 class="footer-block-name opening-times">Opening times</h3>
      <p class="working-times">
        Every day <br />
        9:00 - 22:00
      </p>
    </div>
    <div class="footer-contacts">
      <h3 class="footer-block-name">Contacts</h3>
      <ul class="footer-contact-list">
        <li class="footer-tel">
          <a href="tel:+380631234567">+38 063 123 45 67</a>
        </li>
        <li class="footer-mail">
          <a href="mailto:anemonestudio@example.com"
            >anemonestudio<br />@example.com</a
          >
        </li>
        <li class="footer-adress">
          <a class="address-link" href="https://www.google.com.ua/maps/place/ул.+Рейтарская,+11,+Киев,+02000/@50.4512141,30.5127936,19.25z/data=!4m6!3m5!1s0x40d4ce5bde74d21f:0x3ddb1fc45e18228!8m2!3d50.4512188!4d30.5126959!16s%2Fg%2F11c5fhwzrb?hl=ru" target="_blank" rel="noreferrer noopener"> 
            Reitarska Street, 11<br /> Kyiv, Ukraine
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <ul class="social-networks list">
        <li class="social-networks-item">
          <a href="https://www.facebook.com" aria-label="icon-fb" class="social-networks-link link" target="_blank" rel="noreferrer noopener">
            <svg class="social-networks-icon" width="28" height="28">
              <use href="./img/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-networks-item">
          <a href="https://www.instagram.com" aria-label="icon-inst" class="social-networks-link link" target="_blank" rel="noreferrer noopener">
            <svg class="social-networks-icon" width="28" height="28">
              <use href="./img/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
