<footer class="footer">
    <div class="container footer-container">
        <div class="main-container">
            <a class="footer-logo-link" aria-label="logo" href="./index.html">
                <svg class="footer-logo" width="108px" height="108px">
                    <use href="./img/icons/icons.svg#icon-Logo"></use>
                </svg>
                <p class="footer-logo-text">Full<br>Stack<br>Modeller</p>
            </a>
            <ul class="footer-social-content">
                <li class="footer-socials-item">
                    <a class="footer-socials-link" href="https://www.linkedin.com" aria-label="Linkedin link" target="_blank" rel="noreferrer noopener">
                        <svg class="footer-socials-svg" width="30px" height="30px">
                            <use href="./img/icons/icons.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-socials-item">
                    <a class="footer-socials-link" href="https://www.facebook.com" aria-label="Facebook link" target="_blank" rel="noreferrer noopener">
                        <svg class="footer-socials-svg" width="30px" height="30px">
                            <use href="./img/icons/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="common-text-b-1-book  footer-rights">
                &#169; 2023 Full Stack Modeller
            </p>
        </div>
        <div class="footer-nav-container">
            <ul class="footer-sitemap-content">
                <p class="content-descr">Sitemap</p>
                <li class="footer-content-item">
                    <a class="footer-content-link" href="#">
                        <span class="descr">Resources</span>
                    </a>
                </li>
                <li class="footer-content-item">
                    <a class="footer-content-link" href="#">
                        <span class="descr">Events</span>
                    </a>
                </li>
                <li class="footer-content-item">
                    <a class="footer-content-link" href="#">
                        <span class="descr">Videos</span>
                    </a>
                </li>
                <li class="footer-content-item">
                    <a class="footer-content-link" href="#">
                        <span class="descr">E-Books</span>
                    </a>
                </li>
                <li class="footer-content-item">
                    <a class="footer-content-link" href="#">
                        <span class="descr">Blog</span>
                    </a>
                </li>
                <li class="footer-content-item">
                    <a class="footer-content-link" href="#">
                        <span class="descr">FAQ</span>
                    </a>
                </li>
            </ul>
            <ul class="footer-training-content">
                <p class="content-descr">Training</p>
                <li class="footer-content-item">
                    <a class="footer-content-link" href="#">
                        <span class="descr">Individual Membership</span>
                    </a>
                </li>
                <li class="footer-content-item">
                    <a class="footer-content-link" href="#">
                        <span class="descr">Corporate Membership</span>
                    </a>
                </li>
                <li class="footer-content-item">
                    <a class="footer-content-link" href="#">
                        <span class="descr">Fundamentals of FAST Modelling</span>
                    </a>
                </li>
                <li class="footer-content-item">
                    <a class="footer-content-link" href="#">
                        <span class="descr">Excel Mastery Bootcamp</span>
                    </a>
                </li>
                <li class="footer-content-item"> 
                    <a class="footer-content-link" href="#">
                        <span class="descr">Free Data Visualisation Course</span>
                    </a>
                </li>              
            </ul>
        </div>
    </div>
    <div class="empty-for-mob-nav-menu"></div>
</footer>
