<header class="header">
    <div class="container header-container">
        <a class="header-logo-link" aria-label="logo" href="./index.html">
            <svg class="header-logo" width="64px" height="64px">
                <use href="./img/icons/icons.svg#icon-Logo"></use>
            </svg>
            <p class="header-logo-text">Full<br>Stack<br>Modeller</p>
        </a>
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-content dropdown">
                    <button onclick="myFunction1()" class="header-nav-link dropbtn1">Training
                        <svg class="nav-link-arrow" width="24px" height="24px" >
                            <use class="icon-arrow-before" href="./img/icons/icons.svg#icon-arrow_drop_down"></use>
                            <use class="icon-arrow-after" href="./img/icons/icons.svg#icon-arrow_drop_up"></use>
                        </svg>
                    </button>   
                        <ul class="dropdown-content" id="dropdown-content1">
                            <li class="dropdown-list-item">
                                <a class="dropdown-link" href="#">Full Stack Membership</a>
                            </li>
                            <li class="dropdown-list-item">
                                <a class="dropdown-link" href="#">Corporate Training</a>                                
                            </li>
                            <li class="dropdown-list-item">
                                <a class="dropdown-link" href="#">Fundamentals of FAST Modelling</a>
                            </li>
                            <li class="dropdown-list-item">
                                <a class="dropdown-link" href="#">Excel Mastery Bootcamp</a>
                            </li>
                            <li class="dropdown-list-item">
                                <a class="dropdown-link" href="#">Data Visualisation</a>
                            </li>
                        </ul>                 
                </li>
                <li class="header-nav-content dropdown">
                    <button onclick="myFunction2()" class="header-nav-link dropbtn2">Resources
                        <svg class="nav-link-arrow" width="24px" height="24px" >
                            <use class="icon-arrow-before" href="./img/icons/icons.svg#icon-arrow_drop_down"></use>
                            <use class="icon-arrow-after" href="./img/icons/icons.svg#icon-arrow_drop_up"></use>
                        </svg>
                    </button> 
                    <ul class="dropdown-content" id="dropdown-content2">
                        <li class="dropdown-list-item">
                            <a class="dropdown-link" href="#">Free Skills Assessment </a>
                        </li>
                        <li class="dropdown-list-item">
                            <a class="dropdown-link" href="#">Videos</a>                                
                        </li>
                        <li class="dropdown-list-item">
                            <a class="dropdown-link" href="#">E-Books</a>
                        </li>
                        <li class="dropdown-list-item">
                            <a class="dropdown-link" href="#">Blog</a>
                        </li>
                        <li class="dropdown-list-item">
                            <a class="dropdown-link" href="#">Newsletter</a>
                        </li>
                    </ul>
                </li>
                <li class="header-nav-content">
                    <a class="header-nav-link header-nav-link-focus" href="#">Events</a>
                </li>
                <li class="header-nav-content">
                    <a class="header-nav-link header-nav-link-focus" href="#">FAQ</a>
                </li>
            </ul>
        </nav>
        <button class="header-join-btn" type="button" aria-expanded="false" aria-controls="join-us">Join Us</button>
        <button class="header-login-btn" type="button" aria-expanded="false" aria-controls="log-in">Log In</button>
    </div>
</header>
