<header class="header">
    <div class="container header-container">
        <a class="header-logo-link" aria-label="logo" href="./index.html">
            <svg class="header-logo" width="64px" height="64px">
                <use href="./img/icons/icons.svg#icon-Logo"></use>
            </svg>
            <p class="header-logo-text">Full<br>Stack<br>Modeller</p>
        </a>
        <!-- <div class="btn-container">
            <div class="btn-container-training">
                <button class="header-nav-btn" type="button">Training
                    <svg class="nav-link-arrow" width="24px" height="24px" >
                        <use class="icon-arrow-before" href="./img/icons/icons.svg#icon-arrow_drop_down"></use>
                        <use class="icon-arrow-after" href="./img/icons/icons.svg#icon-arrow_drop_up"></use>
                    </svg>
                </button>
            </div>    
            <div class="btn-container-resources">   
                <button  class="header-nav-btn" type="button">Resources
                    <svg class="nav-link-arrow" width="24px" height="24px" >
                        <use class="icon-arrow-before" href="./img/icons/icons.svg#icon-arrow_drop_down"></use>
                        <use class="icon-arrow-after" href="./img/icons/icons.svg#icon-arrow_drop_up"></use>
                    </svg>
                </button>
            </div>
        </div> -->
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-content dropdown">
                    <a class="header-dropdown-link" href="">Training
                        <svg class="nav-link-arrow" width="24px" height="24px" >
                            <use class="icon-arrow-before" href="./img/icons/icons.svg#icon-arrow_drop_down"></use>
                            <use class="icon-arrow-after" href="./img/icons/icons.svg#icon-arrow_drop_up"></use>
                        </svg>
                    </a>
                    <div class="dropdown-list">
                        <a class="dropdown-link" href="#">Full Stack Membership</a>
                        <a class="dropdown-link" href="#">Corporate Training</a>
                        <a class="dropdown-link" href="#">Fundamentals of FAST Modelling</a>
                        <a class="dropdown-link" href="#">Excel Mastery Bootcamp</a>
                        <a class="dropdown-link" href="#">Data Visualisation</a>
                    </div>
                </li>
                <li class="header-nav-content dropdown">
                    <a class="header-dropdown-link" href="">Resources
                        <svg class="nav-link-arrow" width="24px" height="24px" >
                            <use class="icon-arrow-before" href="./img/icons/icons.svg#icon-arrow_drop_down"></use>
                            <use class="icon-arrow-after" href="./img/icons/icons.svg#icon-arrow_drop_up"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-nav-content">
                    <a class="header-nav-link current" href="#">Events</a>
                </li>
                <li class="header-nav-content">
                    <a class="header-nav-link current" href="#">FAQ</a>
                </li>
            </ul>
        </nav>
        <button class="header-join-btn" type="button" aria-expanded="false" aria-controls="join-us">Join Us</button>
        <button class="header-login-btn" type="button" aria-expanded="false" aria-controls="log-in">Log In</button>
    </div>
</header>