<header class="header" id="header">
  <div class="container container-header header-js header-bg">
    <a class="header-link-logo" aria-label="logo" href="./index.html">
      <svg class="logo-header" width="45" height="35">
        <use href="./img/icons/icons.svg#icon-mobile_logo"></use>
      </svg>
    </a>
    <nav class="page-nav">
      <ul class="menu">
        <li class="menu-item">
          <a class="header-link current" href="#hero-section">Anemone</a>
        </li>
        <li class="menu-item">
          <a class="header-link current" href="#about-section">About us</a>
        </li>
        <li class="menu-item">
          <a class="header-link current" href="#store-section">Store</a>
        </li>
        <li class="menu-item">
          <a class="header-link current" href="#delivery-section">Delivery</a>
        </li>
        <li class="menu-item">
          <a class="header-link current" href="#blog-section">Blog</a>
        </li>
      </ul>
    </nav>

    <address class="call">
      <a href="tel:+380631234567">
        <svg class="phone-icon" width="20" height="20">
          <use href="./img/icons/icons.svg#icon-mob_tel"></use>
        </svg>
      </a>
    </address>
    <button
      type="button"
      class="mobile-menu-open js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile-menu-burger" width="24" height="24">
        <use href="./img/icons/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
