<section class="hero-section" id="hero-section">
  <div class="container hero-container">
    <h1 class="page-title" style="--shift-to-y: -355px">Anemone</h1>
    <h2
      class="hero-badge"
      style="--shift-from-x: 0; --shift-to-x: -90px; --shift-to-y: 170px"
    >
      flower studio
    </h2>
    <img
      srcset="
        ./img/hero/hero-img-mobile.png    145w,
        ./img/hero/hero-img-mobile@2x.png 290w,
        ./img/hero/hero-img-tablet.png    390w,
        ./img/hero/hero-img-tablet@2x.png 670w
      "
      sizes="(min-width:768px) 390px,(max-width:767px) 145px, 100vw"
      class="hero-image_adaptive"
      src="./img/hero/image_home_page.png"
      alt="Flower on a grey background"
      width="145"
    />

    <button
      class="hero-button js-open-modal"
      data-modal="1"
      aria-label="button-shop-now"
      type="button"
      style="--shift-from-x: 0; --shift-to-x: 25px; --shift-to-y: 170px"
    >
      <svg width="76" height="76" class="hero-button-svg hero-icons">
        <use
          href="./img/icons/icons.svg#hero-icon-arrow"
          class="hero-icon-arrow hero-btn-arrow"
        ></use>
        <use
          href="./img/icons/icons.svg#hero-btn-text"
          class="hero-icon-text hero-icons hero-btn-txt"
        ></use>
      </svg>
      <svg width="145" height="150" class="hero-button-svg_tablet">
        <use
          href="./img/icons/icons.svg#icon-tab_btn_text"
          class="hero-icon-text_tablet hero-btn-txt"
        ></use>
        <use
          href="./img/icons/icons.svg#icon-tab_btn_errow"
          class="hero-icon-arrow_tablet hero-btn-arrow"
        ></use>
      </svg>
      <svg class="hero-button-svg_desk hero-icons" width="166" height="166">
        <use
          href="./img/icons/icons.svg#hero-icon-arrow"
          class="hero-btn-arrow"
        ></use>
        <use
          href="./img/icons/icons.svg#icon-pc_btn_text"
          class="hero-btn-txt"
        ></use>
      </svg>
    </button>
    <div class="img-transition">
      <img
        srcset="./img/hero/hero-img.jpg 1280w, ./img/hero/hero-img@2x.jpg 2560w"
        sizes="(min-width:1280px) 1280px, 100vw"
        src="./img/hero/hero-img.jpg"
        alt="Flower on a grey background"
        class="hero-image"
        width="1283"
      />
    </div>
  </div>
</section>
