<!-- section Hero (start) -->




<section class="hero" id="hero-section">
    <div class="container">
        <div class="hero-inner">
            <div class="hero-content">
                <img class="content-winning" src="./img/icons/hero-winning.svg" alt="winning icon">
                <div class="content-text">
                    <h1 class="text-title">
                        Become<br> 
                        <span class="text_color-a">a</span> <span class="text_color">Modelling Pro</span>
                    </h1>
                    <p class="text-description">
                        Join us and we'll unlock your full potential. Our accredited training programme, and exclusive global community, will
                        guide you on your way to Excel, financial modelling, data visualisation & analytics mastery.
                    </p>
                    <button type="button" class="content-free">Take Free Skills Assessment</button> 
                </div>

                <div class="hero-galery">
                    <img class="galery-laptop" src="../img/hero/hero-laptop.png" alt="laptop">
                    <img class="galery-phone" src="../img/hero/hero-phone.png" alt="laptop">
                </div>
            </div>
            <ul class="content-recomend">
                <li class="recomend-item">
                    <h2>150+</h2>
                    <p>CPD hours</p>
                </li>
                <li class="recomend-item">
                    <h2>4</h2>
                    <p>Certificates of Accreditation</p>
                </li>
                <li class="recomend-item">
                    <h2>400+</h2>
                    <p>Active Community Members</p>
                </li>
            </ul>
        </div>
    </div>
</section>




<!-- section Hero (end) -->