<div class="menu-container js-menu-container" id="mobile-menu">
    <nav class="page-nav-mobile">
        <ul class="nav-mobile-content">
            <li class="nav-mobile-list-item for-border">Trainings</li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link" href="#">Full Stack Membership</a>
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link" href="#">Corporate Training</a>                                
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link" href="#">Fundamentals of FAST Modelling</a>
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link" href="#">Excel Mastery Bootcamp</a>
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link" href="#">Data Visualisation</a>
            </li>
        </ul>  
    </nav>
</div>
