<div class="menu-container">
    <nav class="page-nav-mobile">
        <ul class="nav-mobile-content">
            <li class="nav-mobile-list-item for-border">Resources</li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link" href="#">Free Skills Assessment</a>
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link" href="#">Videos</a>                                
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link" href="#">E-Books</a>
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link" href="#">Blog</a>
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link" href="#">Newsletter</a>
            </li>
        </ul>  
    </nav>
</div>