<section class="mobile-nav-menu">
    <div class="container nav-container">
        <ul  class="mobile-nav-content">
            <li class="mobile-nav-item">
                <button type=button class="nav-menu-btn">
                    <svg class="nav-link-icon" width="24px" height="24px">
                        <use class="nav-link-icon-btn" href="./img/icons/icons.svg#icon-toolset"></use>
                    </svg>
                    <span class="nav-text">Training</span>
                </button>
            </li>
            <li class="mobile-nav-item">
                <button type=button class="nav-menu-btn">
                    <svg class="nav-link-icon" width="24px" height="24px">
                        <use class="nav-link-icon-btn" href="./img/icons/icons.svg#icon-folder"></use>
                    </svg>
                    <span class="nav-text">Resources</span>
                </button>
            </li>
            <li class="mobile-nav-item-link">
                <a class="mobile-nav-link" href="">
                    <svg class="nav-icon" width="24px" height="24px">
                        <use class="nav-link-icon-link" href="./img/icons/icons.svg#icon-calendar_month"></use>
                    </svg>
                    <span class="nav-text-link">Events</span>
                </a>
            </li>
            <li class="mobile-nav-item-link">
                <a class="mobile-nav-link" href="">
                    <svg class="nav-icon" width="24px" height="24px">
                        <use class="nav-link-icon-link" href="./img/icons/icons.svg#icon-quiz"></use>
                    </svg>
                    <span class="nav-text-link">FAQ</span>
                </a>
            </li>
        </ul>

    </div>
</section>