<div class="menu-container js-menu-container" id="mobile-menu">
    <nav class="page-nav-mobile">
        <ul class="nav-mobile-content">
            <li class="nav-mobile-list-item for-border">Trainings</li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link js-select-menu-stack" href="#">Full Stack Membership</a>
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link js-select-menu-corporate" href="#">Corporate Training</a>                                
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link js-select-menu-fundamentals" href="#">Fundamentals of FAST Modelling</a>
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link js-select-menu-excel" href="#">Excel Mastery Bootcamp</a>
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link js-select-menu-data" href="#">Data Visualisation</a>
            </li>
        </ul>  
    </nav>
</div>


<div class="menu-container js-menu-container-2" id="mobile-menu-2">
    <nav class="page-nav-mobile">
        <ul class="nav-mobile-content">
            <li class="nav-mobile-list-item for-border">Resources</li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link js-select-menu-skills" href="#">Free Skills Assessment</a>
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link js-select-menu-videos" href="#">Videos</a>                                
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link js-select-menu-ebooks" href="#">E-Books</a>
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link js-select-menu-blog" href="#">Blog</a>
            </li>
            <li class="nav-mobile-list-item">
                <a class="nav-mobile-list-link js-select-menu-newsletter" href="#">Newsletter</a>
            </li>
        </ul>  
    </nav>
</div>