<div class="thank-u-modal modal" data-modal="2">
  <button type="button" class="thank-modal-btn-close js-modal-close">
    <svg class="modal-closed-icon" width="24" height="24">
      <use href="./img/icons/icons.svg#akar-icons_cross"></use>
    </svg>
  </button>
  <div class="thank-modal-content">
    <div class="container-for-img-thank">
      <svg class="icon-thank-modal" width="188" height="142">
        <use href="./img/icons/icons.svg#icon-Frame-48"></use>
      </svg>
    </div>
    <h3 class="thank-modal-title">Thank you!</h3>
    <p class="thank-modal-txt">
      We have received your contact details and will reach you soon.
    </p>
    <button
      type="button"
      class="btn-common thank-modal-btn js-modal-close js-thank-modal-btn"
    >
      Continue
    </button>
  </div>
</div>
