<section>
    <div class="container con-section-team">
        <img src="../img/our-team/bg-our-team.png" alt="" class="bg-our-team">
    <h2 class="common-style-h-3 tittle-section-team">Our Team</h2>
    <ul class="list-card-team">
        <li class="card-team-li">
           <img src="./img/our-team/img-giles-male.jpg" alt="" width="200px" class="card-img-our-team">
           <div class="txt-name-card">
                <h3 class="common-text-p-2-bold tittle-name-card">Giles Male</h3>
                <p class="common-text-p-3-book par-name-card">Excel Mastery</p>
           </div> 
        </li>
        <li class="card-team-li">
            <img src="./img/our-team/kenny-whitelaw-jones.jpg" alt="" width="200px" class="card-img-our-team">
                <div class="txt-name-card kenny">
                    <h3 class="common-text-p-2-bold tittle-name-card">Kenny Whitelaw Jones</h3>
                    <p class="common-text-p-3-book par-name-card">Financial Modelling</p>
                </div> 
        </li>
        <li class="card-team-li">
            <img src="./img/our-team/myles-arnott.jpg" alt="" width="200px" class="card-img-our-team">
            <div class="txt-name-card myles">
                <h3 class="common-text-p-2-bold tittle-name-card">Myles Arnott</h3>
                <p class="common-text-p-3-book par-name-card">Technology for Finance</p>
            </div> 
        </li>
        <li class="card-team-li">
            <img src="./img/our-team/toby-tucker.jpg" alt="" width="200px" class="card-img-our-team">
            <div class="txt-name-card">
                <h3 class="common-text-p-2-bold tittle-name-card">Toby Tucker</h3>
                <p class="common-text-p-3-book par-name-card">Financial Modelling</p>
            </div> 
        </li>
        <li class="card-team-li">
            <img src="./img/our-team/jordan-goldmeier.jpg" alt="" width="200px" class="card-img-our-team">
            <div class="txt-name-card jordan">
                <h3 class="common-text-p-2-bold tittle-name-card tittle-name-jordan">Jordan Goldmeier</h3>
                <p class="common-text-p-3-book par-name-card">Data Visualisation & Analytics</p>
            </div> 
        </li>
        <li class="card-team-li">
            <img src="../img/our-team/iain-morrow.jpg" alt="" width="200px" class="card-img-our-team">
            <div class="txt-name-card">
                <h3 class="common-text-p-2-bold tittle-name-card">Iain Morrow</h3>
                <p class="common-text-p-3-book par-name-card">Openbox</p>
            </div> 
        </li>
        <li class="card-team-li">
            <img src="../img/our-team/courtney-bewes.jpg" alt="" width="200px" class="card-img-our-team img-courtney">
            <div class="txt-name-card">
                <h3 class="common-text-p-2-bold tittle-name-card">Courtney Bewes</h3>
                <p class="common-text-p-3-book par-name-card">Marketing</p>
            </div> 
        </li>
    </ul>
    
    </div>
</section>