<section class="">
  <div class="container">
    <h1 class="common-style-h-5 section-tittle-training">Our award-winning <br> training programme <br> covers:</h1>
    <ul>
        <li class="our-training-li">
            <svg class="icon-training" width="32px" height="32px">
              <use href="./img/icons/icons.svg#icon-exel-mastery"></use>
            </svg>
            <h2 class=".common-style-h-5 training-tittle">Excel Mastery</h2>
            <p class="common-text-p-2-book">From core function knowledge and confident use of Excel Tables and Pivot Tables, to a truly unique way to</p>
        </li>
        <li class="our-training-li">
            
            <svg class="icon-training" width="32px" height="32px">
              <use href="./img/icons/icons.svg#icon-advanced"></use>
            </svg>
            <h2 class=".common-style-h-5 training-tittle">Advanced Financial Modelling</h2>
            <p class="common-text-p-2-book">From core function knowledge and confident use of Excel Tables and Pivot Tables, to a truly unique way to</p>
        </li>
        <li class="our-training-li">
            
            <svg class="icon-training" width="32px" height="32px">
              <use href="./img/icons/icons.svg#icon-analytics"></use>
            </svg>
            <h2 class=".common-style-h-5 training-tittle">Data Visualisation & Analytics</h2>
            <p class="common-text-p-2-book">From core function knowledge and confident use of Excel Tables and Pivot Tables, to a truly unique way to</p>
        </li>
        <li class="our-training-li">
            <svg class="icon-training" width="32px" height="32px">
              <use href="./img/icons/icons.svg#icon-modelling-tech"></use>
            </svg>
            <h2 class=".common-style-h-5 training-tittle">Modelling Tech</h2>
            <p class="common-text-p-2-book">From core function knowledge and confident use of Excel Tables and Pivot Tables, to a truly unique way to</p>
        </li>
        <li class="our-training-li">
            <svg class="icon-training" width="32px" height="32px">
              <use href="./img/icons/icons.svg#icon-communication"></use>
            </svg>
            <h2 class=".common-style-h-5 training-tittle">Communication & Presentation skills</h2>
              <p class="common-text-p-2-book">From core function knowledge and confident use of Excel Tables and Pivot Tables, to a truly unique way to</p>    
        </li>
    </ul>
  </div>
</section>