<section class="">
  <div class="container con-our-training">
   
    <!-- <img src="./img/our-training/bg-our-training.png" alt="" class="img-bg-our-training"> -->
    <div class="img-con">
      <img src="./img/our-training/our-award-img1.jpg" alt=""  class="img-our-training-two">
      <img src="./img/our-training/image-our-award2.jpg" alt=""  class="img-our-training-one">
      
    </div>
    
    <div class="section-con">
      <h2 class="common-style-h-5 section-tittle-training">Our award-winning training programme covers:</h2>
        <ul class="our-training-list">
          <li class="our-training-li order-one">
              <svg class="icon-training" width="32px" height="32px">
                <use href="./img/icons/icons.svg#icon-exel"></use>
              </svg>
              <h3 class="common-style-h-6 training-tittle">Excel Mastery</h3>
                <p class="common-text-p-2-book">From core function knowledge and confident use of Excel Tables and Pivot Tables, to a truly unique way to</p>
          </li>
          <li class="our-training-li order-two">
            
              <svg class="icon-training" width="32px" height="32px">
                <use href="./img/icons/icons.svg#icon-advanced"></use>
              </svg>
              <h3 class="common-style-h-6 training-tittle">Advanced Financial<br>Modelling</h3>
                <p class="common-text-p-2-book">From core function knowledge and confident use of Excel Tables and Pivot Tables, to a truly unique way to</p>
          </li>
          <li class="our-training-li order-three">
            
            <svg class="icon-training" width="32px" height="32px">
              <use href="./img/icons/icons.svg#icon-analytics"></use>
            </svg>
            <h3 class="common-style-h-6 training-tittle">Data Visualisation &<br>Analytics</h3>
            <p class="common-text-p-2-book">From core function knowledge and confident use of Excel Tables and Pivot Tables, to a truly unique way to</p>
          </li>
          
          <li class="our-training-li order-four">
            <svg class="icon-training" width="32px" height="32px">
              <use href="./img/icons/icons.svg#icon-modelling-tech"></use>
            </svg>
            <h3 class="common-style-h-6 training-tittle">Modelling Tech</h3>
            <p class="common-text-p-2-book">From core function knowledge and confident use of Excel Tables and Pivot Tables, to a truly unique way to</p>
          </li>
          <li class="our-training-li order-five">
            <svg class="icon-training" width="32px" height="32px">
              <use href="./img/icons/icons.svg#icon-communication"></use>
            </svg>
            <h3 class="common-style-h-6 training-tittle">Communication &<br>Presentation skills</h3>
              <p class="common-text-p-2-book">From core function knowledge and confident use of Excel Tables and Pivot Tables, to a truly unique way to</p>    
          </li>
        
        </ul>
    
    </div>
  </div>
</section>