<section class="store-section" id="store-section">
  <div class="container store-container">
    <h2 class="title-common store-title">Store</h2>
    <ul class="store-list gallery">
      <li class="store-item">
        <a class="store-link" href="./img/store/img1_600.png">
          <img
            class="store-item-img"
            srcset="
              ./img/store/img1_136.png   320w,
              ./img/store/img1_272.png   640w,
              ./img/store/img1_344.png   468w,
              ./img/store/img1_600.png  1200w,
              ./img/store/img1_688.png   936w,
              ./img/store/img1_1200.png 2400w
            "
            sizes="(min-width: 1200px) 1200px, (min-width: 768px) 468px, (min-width: 480px) 320px, 100vw"
            src="./img/store/img1_1200.png"
            alt="Compliments"
            width="600"
            loading="lazy"
          />
        </a>
        <div class="store-content">
          <div class="store-line">
            <h3 class="store-item-name">compliments</h3>
          </div>
          <p class="store-item-desc">from &#36;15</p>
        </div>
      </li>
      <li class="store-item">
        <a class="store-link" href="./img/store/img2_600.png">
          <img
            class="store-item-img"
            srcset="
              ./img/store/img2_136.png   320w,
              ./img/store/img2_272.png   640w,
              ./img/store/img2_344.png   468w,
              ./img/store/img2_600.png  1200w,
              ./img/store/img2_688.png   936w,
              ./img/store/img2_1200.png 2400w
            "
            sizes="(min-width: 1200px) 1200px, (min-width: 768px) 468px, (min-width: 480px) 320px, 100vw"
            src="./img/store/img2_1200.png"
            alt="Bouquets size S"
            width="600"
            loading="lazy"
          />
        </a>
        <div class="store-content">
          <div class="store-line">
            <h3 class="store-item-name">bouquets size S</h3>
          </div>
          <p class="store-item-desc">from &#36;25</p>
        </div>
      </li>
      <li class="store-item">
        <a class="store-link" href="./img/store/img3_600.png">
          <img
            class="store-item-img"
            srcset="
              ./img/store/img3_136.png   320w,
              ./img/store/img3_272.png   640w,
              ./img/store/img3_344.png   468w,
              ./img/store/img3_600.png  1200w,
              ./img/store/img3_688.png   936w,
              ./img/store/img3_1200.png 2400w
            "
            sizes="(min-width: 1200px) 1200px, (min-width: 768px) 468px, (min-width: 480px) 320px, 100vw"
            src="./img/store/img3_1200.png"
            alt="Bouquets size M"
            width="600"
            loading="lazy"
          />
        </a>
        <div class="store-content">
          <div class="store-line">
            <h3 class="store-item-name">bouquets size M</h3>
          </div>
          <p class="store-item-desc">from &#36;45</p>
        </div>
      </li>
      <li class="store-item">
        <a class="store-link" href="./img/store/img4_600.png">
          <img
            class="store-item-img"
            srcset="
              ./img/store/img4_136.png   320w,
              ./img/store/img4_272.png   640w,
              ./img/store/img4_344.png   468w,
              ./img/store/img4_600.png  1200w,
              ./img/store/img4_688.png   936w,
              ./img/store/img4_1200.png 2400w
            "
            sizes="(min-width: 1200px) 1200px, (min-width: 768px) 468px, (min-width: 480px) 320px, 100vw"
            src="./img/store/img4_1200.png"
            alt="Bouquets size L"
            width="600"
            loading="lazy"
          />
        </a>
        <div class="store-content">
          <div class="store-line">
            <h3 class="store-item-name">bouquets size L</h3>
          </div>
          <p class="store-item-desc">from &#36;60</p>
        </div>
      </li>
    </ul>
    <button
      class="btn-common store-btn js-open-modal"
      type="submit"
      data-modal="1"
    >
      Order Flowers
    </button>
  </div>
</section>
